@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@*Header
Navigation*@

<div class="container">
    @Html.Partial("Header")
    @Html.Partial("Main Navigation")
</div>




<div class="container-fluid">
    @Html.Partial("Slider")

    @Html.Partial("News")

    <div class="row">
        <div class="tappisafe-intro col-md-8">
            <div class="col-md-4">
                <img src="~/App/img/intro-vid.jpg" style="width: 100%;" />
            </div>
            <div class="col-md-8">
                <p>TAPPISAFE was developed by safety experts from some of the leading manufacturing, supplier and contractor companies in our Industry. These pulp and paper safety leaders created and vetted the TAPPISAFE modules and have incorporated best practices from mills across the country. TAPPISAFE is an OSHA awareness level safety orientation program developed specifically for pulp and paper mill contractors, suppliers and employees.</p>
            </div>
            <div class="clearfix"></div>
                <div class="col-md-4 intro-feature">
                    <i class="material-icons">import_export</i>
                    <h6>Implementing TAPPISAFE in your mill is easy and quick.</h6>
                </div>
                <div class="col-md-4 intro-feature">
                    <i class="material-icons">refresh</i>
                    <h6>Constant Updating of Test Materials</h6>
                </div>
            <div class="col-md-4 intro-feature">
                <i class="material-icons">attach_money</i>
                <h6>Savings Opportunities in Time, Personnel & Budget</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card case-study card-with-image">
                <div class="card-inner">
                    <div class="card-title-image">
                        <img src="~/App/img/card-img.jpg" alt="" />
                    </div>
                    <div class="card-text">
                        <h4>Weyhauser Mill Improves Safety While Reducing Costs</h4>
                        <p>"TAPPISAFE® is a HUGE help" for The Weyerhaeuser Columbus Cellulose Fibers plant in South Lowndes County, MS</p>
                    </div>
                    <div class="card-action">
                        <a href="">Case Study <i class="material-icons">launch</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> @*container*@

@Html.Partial("Footer")